@using wa_mvc_itstep_hometask_News_Site.Models.Entities
@model List<SavedNews>

@{ ViewBag.Title = "LivesEvilNews - Saved news"; }

<meta name="description" content="@ViewBag.Title" />

<link rel="stylesheet" href="~/css/savedNews.css" asp-append-version="true" />

<div class="container" id="saved-news-title">
    <h1>Saved news</h1>
</div>

<div class="container" id="cards">
    @if (Model.Count == 0)
    {
<h2 class="col-12 text-muted" id="no-saved-title">No saved news</h2> }
            else
            {
<div class="row">
    @foreach (SavedNews news in Model)
    {
<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <p class="form-text text-muted time">@news.PublicationDate</p>
            <p><i>@news.Category</i></p>
            @if (@news.ImageLink != null)
            {
<a asp-controller="News" asp-action="OneNews" asp-route-url="@news.Link" asp-route-title="@news.Title" asp-route-description="@news.Description" asp-route-author="@news.Author" asp-route-category="@news.Category" asp-route-date="@news.PublicationDate" asp-route-imageLink="@news.ImageLink">
    <img class="card-img-top" src="@news.ImageLink" alt="Card image cap">
</a>}
            <a class="title-link" asp-controller="News" asp-action="OneNews" asp-route-url="@news.Link" asp-route-title="@news.Title" asp-route-description="@news.Description" asp-route-author="@news.Author" asp-route-category="@news.Category" asp-route-date="@news.PublicationDate" asp-route-imageLink="@news.ImageLink">
                <h5 class="card-title"><strong>@news.Title</strong></h5>
            </a>
            @if (news.Description != null)
            {
<p class="card-text">@news.Description</p>}
            @if (news.Author != "" && news.Author != null)
            {
<p><i>Автор: @news.Author</i></p>}
            <p><strong>Resource:</strong> <i><a class="source-link" href="@news.Link" target="_blank">Shits</a></i></p>
            <button type="button" id="@news.Id" class="btn btn-outline-success delete">Delete</button>
        </div>
    </div>
</div>}
</div>}
</div>

<div class="container" id="empty">

</div>

<script type="text/javascript" src="~/js/deleteNews.js" asp-append-version="true"></script>
